<template>
  <div>
    <v-container>
        <v-layout row wrap>
          <v-flex xs12>
            <v-card>
              <v-layout row>
                <v-flex xs12 offset-xs1>
                  <v-card-title primary-title>
                    <div>
                      <div class="headline">{{user.firstname}}</div>
                    </div>
                  </v-card-title>
                </v-flex>
              </v-layout>

              <v-layout row>
                  <v-flex xs12 offset-xs1>
                    <v-avatar color="grey lighten-4">
                      <img src="../../assets/photoMG.png" height="600px"/>
                    </v-avatar>
                  </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex xs12 offset-xs1>
                  <v-card-actions>
                    <v-icon>edit</v-icon>
                    <v-spacer></v-spacer>
                    <v-btn flat color="red">Delete my profile</v-btn>
                  </v-card-actions>
                </v-flex>
              </v-layout>

            </v-card>
          </v-flex>
        </v-layout>
    </v-container>
    <v-container>
      <v-layout row wrap>
        <v-flex  xs12>
          <v-card>
            <v-card-title primary-title>
              <div>
                <div class="headline">My organized meetup</div>
              </div>
              <v-spacer></v-spacer>
              <v-card-actions>
                <v-btn icon @click="showOrganizedMeetup = !showOrganizedMeetup">
                  <v-icon>{{ showOrganizedMeetup ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card-title>

            <v-slide-y-transition>
              <v-card v-show="showOrganizedMeetup">
                <v-list v-for="(item,index) in items" :key="index" style="display: inline-flex;">
                  <div>
                  <v-list-tile-avatar>
                    <img :src="item.avatar">
                  </v-list-tile-avatar>
                  </div>

                  <div style="display: grid;">
                  <v-list-tile-content>
                    <v-list-tile-title v-html="item.title"></v-list-tile-title>
                    <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                  </v-list-tile-content>
                  </div>
                </v-list>
              </v-card>
            </v-slide-y-transition>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container>
      <v-layout row wrap>
        <v-flex  xs12>
          <v-card>
            <v-card-title primary-title>
              <div>
                <div class="headline">My registred meetup</div>
              </div>
              <v-spacer></v-spacer>
              <v-card-actions>
                <v-btn icon @click="showRegistrededMeetup = !showRegistrededMeetup">
                  <v-icon>{{ showRegistrededMeetup ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card-title>

            <v-slide-y-transition>
              <v-card v-show="showRegistrededMeetup">
                <v-list v-for="(item,index) in items" :key="index" style="display: inline-flex;">
                  <div>
                    <v-list-tile-avatar>
                      <img :src="item.avatar">
                    </v-list-tile-avatar>
                  </div>

                  <div style="display: grid;">
                    <v-list-tile-content>
                      <v-list-tile-title v-html="item.title"></v-list-tile-title>
                      <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                    </v-list-tile-content>
                  </div>
                </v-list>
              </v-card>
            </v-slide-y-transition>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  export default {
    computed: {
      user () {
        return this.$store.getters.user
      }
    },
    data () {
      return {
        showOrganizedMeetup: false,
        showRegistrededMeetup: false,
        items: [
          {
            avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
            title: 'Brunch this weekend?',
            subtitle: "<span class='text--primary'>Ali Connors</span> &mdash; I'll be in your neighborhood doing errands this weekend. Do you want to hang out?"
          },
          { divider: true, inset: true },
          {
            avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
            title: 'Summer BBQ <span class="grey--text text--lighten-1">4</span>',
            subtitle: "<span class='text--primary'>to Alex, Scott, Jennifer</span> &mdash; Wish I could come, but I'm out of town this weekend."
          },
          { divider: true, inset: true },
          {
            avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
            title: 'Oui oui',
            subtitle: "<span class='text--primary'>Sandra Adams</span> &mdash; Do you have Paris recommendations? Have you ever been?"
          }
        ]
      }
    }
  }
</script>
