<template>
    <v-container>
      <v-layout row v-if="error">
        <v-flex xs12 sm6 offset-sm3>
          <app-alert @dismissed="onDismissed" :text="error.message"></app-alert>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12 sm6 offset-sm3>
          <v-card>
            <v-card-text>
              <v-container>
                <form @submit.prevent="onSignup">
                  <v-layout row>
                    <v-flex xs12>
                      <v-text-field
                        name="firstname"
                        label="First name"
                        id="firstname"
                        v-model="firstname"
                        type="text"
                        prepend-icon=""
                        required
                      ></v-text-field>
                      <v-text-field
                        name="lastname"
                        label="Last name"
                        id="lastname"
                        v-model="lastname"
                        type="text"
                        prepend-icon=""
                        required
                      ></v-text-field>
                      <v-text-field
                        name="email"
                        label="E-Mail"
                        id="email"
                        v-model="email"
                        type="email"
                        prepend-icon="alternate_email"
                        required
                      ></v-text-field>
                      <v-text-field
                        name="password"
                        label="Password"
                        id="password"
                        v-model="password"
                        type="password"
                        prepend-icon="enhanced_encryption"
                        required
                      ></v-text-field>
                      <v-text-field
                        name="confirmPassword"
                        label="Confirm Password"
                        id="confirmPassword"
                        v-model="confirmPassword"
                        type="password"
                        prepend-icon="enhanced_encryption"
                        :rules="[similarPassword]"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  <v-layout row>
                    <v-flex xs12>
                      <v-btn
                        type="submit"
                        color="success"
                        :loading="loading"
                        :disabled="loading"
                        @click.native="loader = 'loading4'"
                        >Sign Up
                        <span slot="loader" class="custom-loader">
                          <v-icon light>cached</v-icon>
                        </span>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </form>
              </v-container>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
</template>

<script>
export default {
  data () {
    return {
      lastname: '',
      firstname: '',
      email: '',
      password: '',
      confirmPassword: ''
    }
  },
  computed: {
    similarPassword () {
      return this.password !== this.confirmPassword ? 'Passwords do not match' : ''
    },
    user () {
      return this.$store.getters.user
    },
    error () {
      return this.$store.getters.error
    },
    loading () {
      return this.$store.getters.loading
    }
  },
  watch: {
    user (value) {
      if (value !== null && value !== undefined) {
        this.$router.push('/')
      }
    }
  },
  methods: {
    onSignup () {
      this.$store.dispatch('signUserUp', {firstname: this.firstname, lastname: this.lastname, email: this.email, password: this.password})
    },
    onDismissed () {
      console.log('Dissmeed')
      this.$store.dispatch('clearError')
    }
  }
}
</script>

<style scoped>
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
